In [9]:
import pandas as pd;

In [13]:
youtube = pd.read_csv("youtube_estatisticas.csv",  encoding='latin1')
youtube.head()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [19]:
# NOme das colunas a serem alteradas.
colunas_alter_youtube = [
    'rank',
    'canal',
    'inscritos',
    'visualizacoes',
    'categoria',
    'titulo',
    'uploads',
    'pais',
    'sigla_pais',
    'tipo_canal',
    'rank_views_por_video',
    'rank_pais',
    'rank_tipo_canal',
    'visualizacoes_videos_ultimos_30_dias',
    'ganhos_mes_baixa',
    'ganhos_mes_alta',
    'ganhos_ano_baixa',
    'ganhos_abi_alta',
    'inscritos_ultimos_30_dias',
    'ano_criacao_canal',
    'mes_criacao_canal',
    'dia_criacao_canal',
    'porcentagem_populacao_matriculado_ensinosuperior',
    'populacao',
    'taxa_desemprego',
    'populacao_urbana',
    'latitude',
    'longitude'
];


youtube.columns = colunas_alter_youtube

In [37]:
youtube.head()

,rank,canal,inscritos,visualizacoes,categoria,titulo,uploads,pais,sigla_pais,tipo_canal,...,inscritos_ultimos_30_dias,ano_criacao_canal,mes_criacao_canal,dia_criacao_canal,porcentagem_populacao_matriculado_ensinosuperior,populacao,taxa_desemprego,populacao_urbana,latitude,longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [30]:
youtube.categoria.unique()

array(['Music', 'Film & Animation', 'Entertainment', 'Education', 'Shows',
       nan, 'People & Blogs', 'Gaming', 'Sports', 'Howto & Style',
       'News & Politics', 'Comedy', 'Trailers', 'Nonprofits & Activism',
       'Science & Technology', 'Movies', 'Pets & Animals',
       'Autos & Vehicles', 'Travel & Events'], dtype=object)

In [28]:
youtube.sigla_pais.unique()

array(['IN', 'US', nan, 'JP', 'RU', 'KR', 'GB', 'CA', 'BR', 'AR', 'CL',
       'CU', 'SV', 'PK', 'PH', 'TH', 'CO', 'BB', 'MX', 'AE', 'ES', 'SA',
       'ID', 'TR', 'VE', 'KW', 'JO', 'NL', 'SG', 'AU', 'IT', 'DE', 'FR',
       'SE', 'AF', 'UA', 'LV', 'CH', 'VN', 'MY', 'CN', 'IQ', 'EG', 'AD',
       'EC', 'MA', 'PE', 'BD', 'FI', 'WS'], dtype=object)

In [29]:
youtube.tipo_canal.unique()

array(['Music', 'Games', 'Entertainment', 'Education', 'People', 'Sports',
       'Film', 'News', nan, 'Comedy', 'Howto', 'Nonprofit', 'Autos',
       'Tech', 'Animals'], dtype=object)

In [41]:
analise_variaveis_categoricas =  youtube[["inscritos", "tipo_canal", "uploads", "pais", "sigla_pais"]]
analise_variaveis_categoricas

     inscritos     tipo_canal  uploads            pais sigla_pais
0    245000000          Music    20082           India         IN
1    170000000          Games        1   United States         US
2    166000000  Entertainment      741   United States         US
3    162000000      Education      966   United States         US
4    159000000  Entertainment   116536           India         IN
..         ...            ...      ...             ...        ...
990   12300000  Entertainment     1200          Brazil         BR
991   12300000          Games     1500           India         IN
992   12300000          Games     2452  United Kingdom         GB
993   12300000          Games       39          Sweden         SE
994   12300000         Comedy       62           India         IN

[995 rows x 5 columns]